.logo {
    height: 32px;
    margin: 8px;
}
.site-layout .site-layout-background {
    background: #109648;
}
[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}
.site-layout .site-content-background {

    background: #fff;
}
